<div class="row">
<div class="col-sm-6">
    <div id="div-gpt-ad-336-70-2" class="adright">
       <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-70-2');
      });
    </script>
</div>
</div>
<div class="col-sm-6">
    <div id="div-gpt-ad-336-281-1" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-281-1');
      });
    </script>
</div>

</div>
</div>





{# image #}
{# <img src="/sites/all/themes/hometech/images/s.gif" width="200" height="40" border="0">
<p align=center><img src="/sites/all/themes/hometech/images/largeicon_200.png" width="200" height="200" border="0"> #}
{# right cols #}

{# <div id="div-gpt-ad-336-801-1" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-801-1');
      });
    </script>
</div> #}

{# <div id="div-gpt-ad-336-802-2" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-802-2');
      });
    </script>
</div>

<div id="div-gpt-ad-336-803-3" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-803-3');
      });
    </script>
</div>

<div id="div-gpt-ad-336-804-4" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-804-4');
      });
    </script>
</div>

<div id="div-gpt-ad-336-80-5" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-80-5');
      });
    </script>
</div>

<div id="div-gpt-ad-336-80-6" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-80-6');
      });
    </script>
</div>

<div id="div-gpt-ad-336-80-7" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-80-7');
      });
    </script>
</div>

<div id="div-gpt-ad-336-80-8" class="adright">
               <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-336-80-8');
      });
    </script>
</div> #}
