<div id="div-gpt-ad-1000-90-2" class="adbottom my-2 text-center" style="width: 1000px; height: 90px">
    <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1000-90-2');
      });
    </script>
</div>
